<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
  t._e.push(f);
  };

  return t;
  }(document, "script", "twitter-wjs"));</script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="share">
  <div>
    <div class="share-button">
      <a class="twitter-share-button"
         href="https://twitter.com/intent/tweet?text={{ .Title | safeHTML}}&nbsp;-&nbsp;{{ .Site.Title }}&amp;url={{ .Permalink }}&amp;via={{ .Site.Social.twitter }}">
        Tweet
      </a>
    </div>
    <div class="share-button">
    <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="box_count" data-size="small">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;src=sdkpreparse">シェア</a>
    </div>
    </div>
    <div class="share-button">
    <g:plus action="share" data-href="{{ .Permalink }}" data-annotation="bubble"></g:plus>
    </div>
  </div>
</div>
